<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JCI.ITC.COMP2.Common" version="1.0.31" targetFramework="net472" />
  <package id="OctoPack" version="3.6.3" targetFramework="net472" developmentDependency="true" />
  <package id="StructureMap" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
</packages>