<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JCI.ITC.COMP2.Common" version="1.0.26" targetFramework="net472" />
  <package id="StructureMap" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
</packages>